.allmusic-favicon {
   background-image: url("icons/allmusic-favicon"); /* data:icons/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAABaFBMV…AA3TG3GV9AwJ+UiIjYgoChqB8ebo9vENBetcN5Tf0D3gHTvVN12wWaYQAAAABJRU5ErkJggg==);*/
   background-size: 16px;
}
.discogs-favicon {
    background-image: url("icons/discogs-favicon"); 
    background-size: 16px;
}

.youtube-favicon {
    background-image: url("icons/youtube-favicon"); 
    background-size: 16px;
}
.facebook-favicon {
    background-image: url("icons/facebook-favicon"); 
    background-size: 16px;
}
.home-favicon {
    background-image: url("icons/home-favicon"); 
    background-size: 16px;
}

.lastfm-favicon {
    background-image: url("icons/lastfm-favicon"); 
    background-size: 16px;
}

.myspace-favicon {
    background-image: url("icons/myspace-favicon"); 
    background-size: 16px;
}

.no-favicon {
    background-image: url("icons/no-favicon"); 
    background-size: 16px;
}

.rateyourmusic-favicon {
    background-image: url("icons/rateyourmusic-favicon"); 
    background-size: 16px;
}
.soundcloud-favicon {
    background-image: url("icons/soundcloud-favicon"); 
    background-size: 16px;
}
.spotify-favicon {
    background-image: url("icons/spotify-favicon"); 
    background-size: 16px;
}
.twitter-favicon {
    background-image: url("icons/twitter-favicon"); 
    background-size: 16px;
}
.viaf-favicon {
    background-image: url("icons/viaf-favicon"); 
    background-size: 16px;
}
.wikidata-favicon {
    background-image: url("icons/wikidata-favicon"); 
    background-size: 16px;
}
.wikipedia-favicon {
    background-image: url("icons/wikipedia-favicon"); 
    background-size: 16px;
}

.zzz-favicon {
    background-image: url("icons/zzz-favicon"); 
    background-size: 16px;
}

.zzz-favicon {
    background-image: url("icons/zzz-favicon"); 
    background-size: 16px;
}


