body {
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

#content {
  position: relative;
}

#states {
  fill: #e5c088;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

@font-face {
    font-family: "syncopateBold";
    src: url("../syncopate/Syncopate-Bold.ttf");
}

@font-face {
    font-family: "syncopateRegular";
    src: url("../syncopate/Syncopate-Regular.ttf");
}
.narrationEventText, .narationEventPreviewText {
  font-family: "syncopateRegular";
}

#gNext, #gPrev {
  opacity: 0.3;
}

#gNext:hover, #gPrev:hover {
  opacity: 1;
}

#narrationYearText, .narrationEventPreviewNextYearText, .narrationEventPreviewPreviousYearText {
  font-family: "syncopateBold";
}

#closeMenuText, #narrationEventPreviewNextYearBackground, #narrationEventPreviewPreviousYearBackground, .narrationEventPreviewNextYearText, .narrationEventPreviewPreviousYearText {
  cursor: pointer;
}

.regionLink {
  stroke: #777;
}

#artistBio {
  background-color: #E0E0E0;
  font-family: "syncopateRegular";
  text-align: center;
}

#artistNameHead {
  font-family: "syncopateBold";

}
