body {
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

#content {
  position: relative;
}

#states {
  fill: #e5c088;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

@font-face {
    font-family: "syncopateBold";
    src: url("../syncopate/Syncopate-Bold.ttf");
}

@font-face {
    font-family: "syncopateRegular";
    src: url("../syncopate/Syncopate-Regular.ttf");
}

@font-face {
    font-family: "bombing";
    src: url("../graffiti/Bombing.ttf");
}

.narrationEventText, .narationEventPreviewText {
  font-family: "syncopateRegular";
}

#gNext, #gPrev {
  opacity: 0.3;
}

#gNext:hover, #gPrev:hover {
  opacity: 1;
}

#narrationYearText, .narrationEventPreviewNextYearText, .narrationEventPreviewPreviousYearText {
  font-family: "syncopateBold";
}

#narrationEventPreviewNextYearBackground, #narrationEventPreviewPreviousYearBackground, 
.narrationEventPreviewNextYearText, .narrationEventPreviewPreviousYearText, #closeMenuText {
  cursor: pointer;
}

#artistNameHead {
    font-family: "bombing";
    font-size: "50px";
}

.regionLink, .artistLink {
  stroke: #777;
  cursor: pointer;
}

.regionLinkInteractionArea {
  stroke: rgba(0,0,0,0);
  cursor: pointer;
}

ul li:nth-child(even) {
    background-color: #E0E0E0;
}

ul {
    overflow-y:scroll; 
}

ul .collab {
    padding-left: 0px;
}

.d3-region-tip {
  line-height: 1;
  font-family: monospace;
  font-weight: bold;
  color: #474647;
  padding: 4px;
  background: rgba(151, 151, 160, 1);
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-region-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(151, 151, 160, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-region-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.sourceArtist, .targetArtist {
  width: 50%;
  float: left;
  text-align: center;
}
